.Dropdown {
	display: flex;
	align-items: center;
	margin: 0px 10px;
}
.count {
	width: 60px;
	font-size: 20px;
	text-align: center;
}
.changeButton {
	width: 20px;
	height: 20px;
	background-color: red;
}
